<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bulmaComplements.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <div id="wrapper">
        <header class="box is-flex is-justify-content-space-between level is-absolute">
            <div class="navbar-brand">
                <!-- Insert Logo -->
                <a class="navbar-item" href="/">
                    <h1 class="title link">Bread's Cute Booksite</h1>
                </a>
            </div>
            <nav class="navbar is-hidden-touch">
                <a class="navbar-item" asp-controller="Book" asp-action="Index">Books</a>
            </nav>
            <nav class="navbar is-hidden-desktop" role="navigation" aria-label="main navigation">
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarDropdown">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>

                <div id="navbarDropdown" class="navbar-menu mt-5 box">
                    <div class="navbar-start">
                        <a class="navbar-item" asp-controller="Book" asp-action="Index">Books</a>
                    </div>
                </div>
            </nav>
        </header>

        <main class="content container mt-4 box p-5">
            @if (TempData["Success"] != null)
            {
                <div class="notification is-success">
                    @TempData["Success"]
                </div>
            }

            @if (TempData["Error"] != null)
            {
                <div class="notification is-danger">
                    @TempData["Error"]
                </div>
            }
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-center mt-4">
        <div class="container">
            <span>&copy; 2025 - Uppgift 3</span>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const burgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            if (burgers.length > 0) {
                burgers.forEach(el => {
                    el.addEventListener('click', () => {
                        const target = el.dataset.target;
                        const targetElement = document.getElementById(target);

                        el.classList.toggle('is-active');
                        targetElement.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>